<h1>Agenda</h1>

<h2>Agende o seu tratamento</h2>

<div ng-controller="Agenda as a">
  <form ng-submit="a.submit()">
    <label>
      Escolha uma data para o seu tratamento: <br/>
      <input type="date" ng-model="a.data" ng-required="true" placeholder="Informe a data do seu agendamento"/>
    </label>
    <br/><br/>

    <label>
      Escolha o melhor horário para o seu tratamento: <br />
      <input type="time" ng-model="a.hora" ng-required="true" placeholder="Informe a hora do seu agendamento"/>
    </label>
    <br/><br/>

    <label>Escolha o tipo de consulta:</label><br/>
    <label>
      <input type="radio" ng-model="a.tipo_consulta" ng-required="!a.tipo_consulta" value="convenio" /> Convênio
    </label>
    <br/>
    <label>
      <input type="radio" ng-model="a.tipo_consulta" ng-required="!a.tipo_consulta" value="particular" /> Particular
    </label>
    <br/><br/>

    <select ng-model="a.tratamento" ng-required="true">
      <option value="">Escolha seu tratamento</option>
      <option ng-repeat="tratamento in a.tratamentos">
        {{ tratamento["descricao"] }}
      </option>
    </select>
    <br/><br/>

    <select ng-model="a.medico" ng-required="true">
      <option value="">Escolha seu médico</option>
      <option ng-repeat="medico in a.medicos">
        {{ medico["nome"] }}
      </option>
    </select>
    <br/><br/>

    <input type="submit" value="Agendar" class="btn btn-info"/>
  </form>

  <p>{{ a.retorno }}</p>
</div>
